<div class="p-a-lg m-a-lg">
  <div class="panel">
    <div class="title-bar p-a-md m-a-md">
      <h4 class="title-bar-title text-center">
        Productos
      </h4>
    </div>
      <div class="p-a-md m-a-md">
        <div class="">
          <%= react_component("Productos",{productos:@productos})%>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="signup-footer">
  <ul class="list-inline">
    <li><a class="link-muted" href="/help">Inicio Rápido</a></li>
    <li>|</li>
    <li><a class="link-muted" href="mailto:contacto@heythink.cl">Contacto</a></li>
    <li>|</li>
    <li>© Heythink 2017</li>
  </ul>
</div>
