<link rel="stylesheet" href="/css/signup-1.min.css">
<link rel="stylesheet" href="/css/elephant.css">
<link rel="stylesheet" href="/css/application.css">

<div class="p-a-lg m-a-lg">
  <div class="signup-body">
    <div class="signup-form">
      <form class="form-wizard" data-toggle="validator">
        <ul class="steps">
          <li class="step col-xs-4 active">
            <a class="step-segment" href="#step-1" data-toggle="tab">
              <span class="step-icon icon icon-cubes"></span>
            </a>
            <div class="step-content">
              <strong class="hidden-xs">Orden de pago</strong>
            </div>
          </li>
          <li class="step col-xs-4">
            <a class="step-segment" href="#step-2" data-toggle="tab">
              <span class="step-icon icon icon-credit-card"></span>
            </a>
            <div class="step-content">
              <strong class="hidden-xs">Métodos de pago</strong>
            </div>
          </li>
          <li class="step col-xs-4">
            <a class="step-segment" >
              <span class="step-icon icon icon-ticket"></span>
            </a>
            <div class="step-content">
              <strong class="hidden-xs">Confirmación</strong>
            </div>
          </li>
        </ul>
        <div class="tab-content">
          <div id="step-1" class="tab-pane active">
            <h4 class="tab-pane-heading">
              <span> </span>
            </h4>
            <div class="row">
              <div class="col-sm-12 ">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="row"><%=@orden.id%></th>
                      <td><%=@comercio.nombre%></td>
                    </tr>

                    <tr>
                      <th scope="row" colspan="5">
                        <div class="text-right">
                          Monto a pagar
                        </div>
                      </th>
                      <td>
                        <strong><%=@orden.monto%></strong>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-12 ">
                <a  href="#step-2" data-toggle="tab" class=" col-sm-12 btn btn-primary btn-pill btn-next"  type="button">Seleccionar Método de Pago</a>
              </div>
            </div>
          </div>
          <div id="step-2" class="tab-pane ">
            <h4 class="tab-pane-heading">
              <span>Elige el método de pago</span>
            </h4>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="pricing-card">

                  <div class="pricing-card-body">

                    <img src="/images/webpay.png" width="200px" >
                    <!--<a href="" class="btn btn-primary btn-pill btn-next" type="button">Seleccionar</a>-->
                    <a href=<%=@monto%> class="btn btn-primary btn-pill btn-next" type="button">Seleccionar</a>

                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="pricing-card">

                  <div class="pricing-card-body">

                    <img src="/images/2checkout-logo.gif"  width="200px">
                    <a  href="#step-3" data-toggle="tab" class="btn btn-primary btn-pill btn-next" type="button">Seleccionar</a>

                  </div>
                </div>
              </div>

            </div>
            <div class="form-group text-center">
              <p>
                <small>Ambos metodos de pagos tiene activación inmediata.</small>
              </p>

            </div>
          </div>
          <div id="step-3" class="tab-pane">
            <h4 class="tab-pane-heading">
              <span>2CheckOut </span>
            </h4>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                  <label for="creditcard-type" class="control-label">Tipo de tarjeta</label>
                  <select id="creditcard-type" class="custom-select" name="creditcard_type" data-rule-required="true" data-msg-required="Please select your credit card type.">
                    <option value="" selected="selected">Seleccione una tarjeta</option>
                    <option value="v">Visa</option>
                    <option value="m">MasterCard</option>
                    <option value="a">American Express</option>
                    <option value="d">Discover</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="creditcard-number" class="control-label">Numero de tarjeta</label>
                  <input id="creditcard-number" class="form-control" type="text" name="creditcard_number" data-rule-required="true" data-rule-creditcard="true" data-msg-required="Please enter your credit card number." data-msg-creditcard="Please enter a valid credit card number.">
                </div>
                <div class="form-group">
                  <div class="row gutter-xs">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label for="creditcard-expdate-month" class="control-label">Fecha Expiración</label>
                        <div class="row gutter-xs">
                          <div class="col-xs-6">
                            <select id="creditcard-expdate-month" class="custom-select" name="creditcard_expdate_month">
                              <option value="1">01</option>
                              <option value="2">02</option>
                              <option value="3">03</option>
                              <option value="4">04</option>
                              <option value="5">05</option>
                              <option value="6">06</option>
                              <option value="7">07</option>
                              <option value="8">08</option>
                              <option value="9" selected="selected">09</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                            </select>
                          </div>
                          <div class="col-xs-6">
                            <select class="custom-select" name="creditcard_expdate_year">
                              <option value="2016" selected="selected">2016</option>
                              <option value="2017">2017</option>
                              <option value="2018">2018</option>
                              <option value="2019">2019</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                              <option value="2025">2025</option>
                              <option value="2026">2026</option>
                              <option value="2027">2027</option>
                              <option value="2028">2028</option>
                              <option value="2029">2029</option>
                              <option value="2030">2030</option>
                              <option value="2031">2031</option>
                              <option value="2032">2032</option>
                              <option value="2033">2033</option>
                              <option value="2034">2034</option>
                              <option value="2035">2035</option>
                              <option value="2036">2036</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <div class="form-group">
                        <label for="creditcard-csc" class="control-label">CCV</label>
                        <input id="creditcard-csc" class="form-control" type="text" name="creditcard_csc" data-rule-required="true" data-rule-minlength="3" data-rule-maxlength="4" data-msg-required="Please enter your credit card CSC (Card Security Code)." data-msg-minlength="Please enter a valid CSC (Card Security Code)" data-msg-maxlength="Please enter a valid CSC (Card Security Code)">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="coupon-code" class="control-label">Cupon de descuento</label>
                  <input id="coupon-code" class="form-control" type="text" name="coupon_code">
                </div>
                <div class="form-group">

                  <button class="btn btn-primary btn-block" type="submit">Pagar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="signup-footer">
    <ul class="list-inline">
      <li><a class="link-muted" href="/help">Inicio Rápido</a></li>
      <li>|</li>
      <li><a class="link-muted" href="mailto:contacto@heythink.cl">Contacto</a></li>
      <li>|</li>
      <li>© Heythink 2017</li>
    </ul>
  </div>
</div>

<script src="/js/signup-1.js"></script>