<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guia de inicio rápido a la plataforma EasyPay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="description" content="Elephant is a front-end template created to help you build modern web applications, fast and in a professional manner.">
    <meta property="og:url" content="http://demo.naksoid.com/elephant">
    <meta property="og:type" content="website">
    <meta property="og:title" content="The fastest way to build modern admin site for any platform, browser, or device">
    <meta property="og:description" content="Elephant is a front-end template created to help you build modern web applications, fast and in a professional manner.">
    <meta property="og:image" content="http://demo.naksoid.com/elephant/img/ae165ef33d137d3f18b7707466aa774d.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@naksoid">
    <meta name="twitter:creator" content="@naksoid">
    <meta name="twitter:title" content="The fastest way to build modern admin site for any platform, browser, or device">
    <meta name="twitter:description" content="Elephant is a front-end template created to help you build modern web applications, fast and in a professional manner.">
    <meta name="twitter:image" content="http://demo.naksoid.com/elephant/img/ae165ef33d137d3f18b7707466aa774d.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#27ae60">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/elephant.min.css">
    <link rel="stylesheet" href="css/landing-page.min.css">
</head>
<body class="spinner spinner-primary spinner-lg">
<div class="masthead">
    <div class="masthead-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <h1 class="masthead-heading">EasyPay</h1>
                            <h3 class="masthead-heading">Guia de inicio rápido a la plataforma de pagos.</h3>
                            <p class="masthead-lead">Con esta guia de inicio rápido usted podrá hacer uso de la plataforma de pagos EasyPay, siguiendo sólo cuatro simples pasos: Selección de productos, selección de método de pago, pago y confirmación.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" data-animation-name="fadeIn" data-animation-delay="01s">
                <h3><span class="text-muted">Paso 1 </span>Selección de Productos</h3>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>En este paso usted deberá seleccionar los productos que quiere pagar.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6" data-animation-name="fadeIn" data-animation-delay="02s">
                        <span class="sq-48 text-muted">
                            <span class="icon icon-mouse-pointer"></span>
                        </span>
                        <h4>Elegir Productos</h4>
                        <p>
                            <small>Al hacer click sobre un producto, este quedará seleccionado dentro de los productos a pagar.</small>
                        </p>
                    </div>
                    <div class="divider divider-vertical">
                        <div class="divider-content">
                            <strong class="fz-lg">+</strong>
                        </div>
                    </div>
                    <div class="col-sm-6" data-animation-name="fadeIn" data-animation-delay="03s">
                        <span class="sq-48 text-muted">
                            <span class="icon icon-plus"></span>
                        </span>
                        <h4>Monto A Pagar</h4>
                        <p>
                            <small>Al seleccionar los productos, el monto total a pagar se calculará automáticamente sumando el precio de los productos seleccionados.</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="divider divider-vertical">
                <div class="divider-content">
                    <strong class="fz-lg">=</strong>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12" data-animation-name="fadeIn" data-animation-delay="04s">
                        <span class="sq-48 text-muted">
                            <span class="icon icon-dollar"></span>
                        </span>
                        <h4>Pagar</h4>
                        <p>
                            <small>Al presionar el botón Pagar se guardará la selección, y se avanzará al módulo de pago.</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-animation-name="fadeInRight" data-animation-delay="03s">
            <div class="col-md-10 col-md-offset-1">
                <div class="pricing-card pricing-card-recommended">
                    <div class="panel">
                        <div class="title-bar">
                            <h4 class="title-bar-title text-center fw-l">
                                Productos
                            </h4>
                            <div class="row">
                                <div class="col-sm-12 ">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Producto</th>
                                                <th>Precio</th>
                                                <th>Monto a Pagar</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="bg-success">
                                                <th scope="row">1</th>
                                                <td>InnovaColegio</td>
                                                <td>75.290</td>
                                                <td>75.290</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>InboxShot</td>
                                                <td>55.350</td>
                                                <td>55.350</td>
                                            </tr>
                                            <tr class="bg-success">
                                                <th scope="row">3</th>
                                                <td>Patentes</td>
                                                <td>63.540</td>
                                                <td>127.080</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Total a Pagar.</td>
                                                <td>202.370</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-12 ">
                                    <a data-toggle="tab" class=" col-sm-12 btn btn-primary btn-pill btn-next"  type="button">Seleccionar Productos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" data-animation-name="fadeIn" data-animation-delay="01s">
                <h3><span class="text-muted">Paso 2 </span>Selección de Método de Pago</h3>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>En este paso usted deberá seleccionar el método de pago a utilizar.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6" data-animation-name="fadeIn" data-animation-delay="02s">
                        <span class="sq-48 text-muted">
                            <span class="icon icon-eye"></span>
                        </span>
                        <h4>Verificar Información</h4>
                        <p>
                            <small>Verificar que la información seleccionada en el módulo de productos sea la correcta.</small>
                        </p>
                    </div>
                    <div class="divider divider-vertical">
                        <div class="divider-content">
                            <strong class="fz-lg">+</strong>
                        </div>
                    </div>
                    <div class="col-sm-6" data-animation-name="fadeIn" data-animation-delay="03s">
                        <span class="sq-48 text-muted">
                            <span class="icon icon-arrow-right"></span>
                        </span>
                        <h4>Continuar</h4>
                        <p>
                            <small>Continuar a la vista de selección de métodos de pago.</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="divider divider-vertical">
                <div class="divider-content">
                    <strong class="fz-lg">=</strong>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6" data-animation-name="fadeIn" data-animation-delay="02s">
                        <img width="48" height="48" src="images/webpay.png" alt="Webpay">
                        <h4>Webpay</h4>
                        <p>
                            <small>Pagar con el sistema Webpay de Transbank.</small>
                        </p>
                    </div>
                    <div class="divider divider-vertical">
                        <div class="divider-content">
                            <strong class="fz-lg">o</strong>
                        </div>
                    </div>
                    <div class="col-sm-6" data-animation-name="fadeIn" data-animation-delay="03s">
                        <img width="48" height="48" src="images/2checkout-logo.gif" alt="Webpay">
                        <h4>2Checkout</h4>
                        <p>
                            <small>Pagar utilizando la pasarela de pago internacional 2Checkout.</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-animation-name="fadeInRight" data-animation-delay="03s">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="pricing-card pricing-card-recommended">
                    <div class="signup">
                        <div class="signup-body">
                            <div class="signup-form">
                                <form class="form-wizard">
                                    <ul class="steps">

                                        <li class="step col-xs-4">
                                            <a class="step-segment" data-toggle="tab">
                                                <span class="step-icon icon icon-cubes"></span>
                                            </a>
                                            <div class="step-content">
                                                <strong class="hidden-xs">Orden de pago</strong>
                                            </div>
                                        </li>
                                        <li class="step col-xs-4 active">
                                            <a class="step-segment" data-toggle="tab">
                                                <span class="step-icon icon icon-credit-card"></span>
                                            </a>
                                            <div class="step-content">
                                                <strong class="hidden-xs">Metodos de pago</strong>
                                            </div>
                                        </li>
                                        <li class="step col-xs-4">
                                            <a class="step-segment" >
                                                <span class="step-icon icon icon-ticket"></span>
                                            </a>
                                            <div class="step-content">
                                                <strong class="hidden-xs">Confirmacion</strong>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                                <div class="tab-content">
                                    <div id="step-2">
                                        <h4 class="tab-pane-heading">
                                            <span>Elige el metodo de pago</span>
                                        </h4>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="pricing-card">

                                                    <div class="pricing-card-body">

                                                        <img src="images/webpay.png" width="200px" >
                                                        <a class="btn btn-primary btn-pill btn-next" type="button">Seleccionar</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="pricing-card">

                                                    <div class="pricing-card-body">

                                                        <img src="images/2checkout-logo.gif"  width="200px">
                                                        <a data-toggle="tab" class="btn btn-primary btn-pill btn-next" type="button">Seleccionar</a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group text-center">
                                            <p>
                                                <small>Ambos metodos de pagos tiene activación inmediata.</small>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" data-animation-name="fadeIn" data-animation-delay="01s">
                <h3><span class="text-muted">Paso 3 </span>Pagar</h3>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>En este paso será redireccionado a la plataforma de pago que ha seleccionado en el módulo de métodos de pago. Para mayor información, puede revisar las preguntas frecuentes de <a href="https://www.webpay.cl/portalpagodirecto/pages/faq.jsf">Webpay</a> y <a href="https://www.2checkout.com/faq">2Checkout</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" data-animation-name="fadeIn" data-animation-delay="01s">
                <h3><span class="text-muted">Paso 4 </span>Confirmación</h3>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>Una vez realizado el pago con la plataforma seleccioanda, usted recibirá una confirmación en la que se le indicará el código de verificación de la transacción realizada.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-animation-name="fadeInRight" data-animation-delay="03s">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="pricing-card pricing-card-recommended">

                    <div class="signup">
                        <div class="signup-body">
                            <div class="signup-form">
                                <form class="form-wizard">
                                    <ul class="steps">

                                        <li class="step col-xs-4">
                                            <a class="step-segment" data-toggle="tab">
                                                <span class="step-icon icon icon-cubes"></span>
                                            </a>
                                            <div class="step-content">
                                                <strong class="hidden-xs">Orden de pago</strong>
                                            </div>
                                        </li>
                                        <li class="step col-xs-4">
                                            <a class="step-segment" data-toggle="tab">
                                                <span class="step-icon icon icon-credit-card"></span>
                                            </a>
                                            <div class="step-content">
                                                <strong class="hidden-xs">Metodos de pago</strong>
                                            </div>
                                        </li>
                                        <li class="step col-xs-4 active">
                                            <a class="step-segment" >
                                                <span class="step-icon icon icon-ticket"></span>
                                            </a>
                                            <div class="step-content">
                                                <strong class="hidden-xs">Confirmacion</strong>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                                <div class="tab-content">
                                    <div id="step-3">
                                        <h4 class="tab-pane-heading">
                                            <span>Transacción realizada con éxito.</span>
                                        </h4>
                                        <div class="row">

                                            <div class="col-xs-12 col-md-12">
                                                <div class="pricing-card">
                                                    <div class="pricing-card-header bg-success">
                                                        <h1 class="pricing-card-price">Webpay</h1>
                                                    </div>
                                                    <div class="pricing-card-body">
                                                        <p class="pricing-card-text">
                                                            <u>Orden de pago Nº 16</u>
                                                        </p>
                                                        <ul class="pricing-card-details">
                                                            <li>Monto aprobado  :  202.370</li>
                                                            <li>4 Ultimos digitos de tarjeta : 5664</li>
                                                            <li>Codigo Autorización : 430577</li>
                                                            <li>Tipo de pago : Débito</li>
                                                            <li>Fecha autorizacion : 29/06/2017 </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 ">
                                                <a  href="/" class=" col-sm-12 btn btn-primary btn-pill btn-next"  type="button">Volver a Productos</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <h1>FAQs</h1>
        <hr class="half-rule">
        <div class="row">
            <div class="col-sm-6">
                <ul class="faq-list">
                    <li class="faq" data-animation-name="fadeInLeft" data-animation-delay="01s">
                        <h4 class="faq-question">¿Por qué utilizar la EasyPay?</h4>
                        <p class="faq-answer">EasyPay es una plataforma simple y rápida de usar, que reune, en un lugar, distintos medios de pago.</p>
                    </li>
                    <li class="faq" data-animation-name="fadeInLeft" data-animation-delay="02s">
                        <h4 class="faq-question">¿Que productos puedo ver?</h4>
                        <p class="faq-answer">Los productos que se muestran son aquellos que esten asociado a cada usuario, es decir, que hayan sido contratados por cada usuario.</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="faq-list">
                    <li class="faq" data-animation-name="fadeInLeft" data-animation-delay="04s">
                        <h4 class="faq-question">¿A que corresponde el monto a pagar por cada producto?</h4>
                        <p class="faq-answer">El monto indicado a pagar por cada producto corresponde al precio del producto multiplicado por los meses de subscripción no pagados.</p>
                    </li>
                    <li class="faq" data-animation-name="fadeInLeft" data-animation-delay="05s">
                        <h4 class="faq-question">¿Como verificar que he pagado?</h4>
                        <p class="faq-answer">Una vez recibida la confirmación del pago, el cliente puede ir a la lista de productos y verificar que el monto a pagar por cada producto sea cero.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h4 class="footer-heading">EasyPay</h4>
                <p>
                    <small>Platforma de unificación de pasarelas de pago.</small>
                </p>
            </div>
            <div class="col-sm-4 col-md-4 col-md-offset-4">
                <h4 class="footer-heading">Contacto</h4>
                <ul class="footer-links">
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            ayuda@easypay.cl
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            +56 9 6834 4738
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p>© 2017 Heythink, SaaS.</p>
    </div>
</div>
<script src="js/vendor.min.js"></script>
<script src="js/elephant.min.js"></script>
<script src="js/landing-page.min.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-83990101-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>